@page "/counter"
@inject IJSRuntime JS

<PageTitle>Counter</PageTitle>


<button class="btn btn-success me-2" @onclick="PublishStart">▶️ Start</button>
<button class="btn btn-danger" @onclick="PublishStop">⏹️ Stop</button>


@code {
  
    private async Task PublishStart()
    {
        await JS.InvokeVoidAsync("publishMomentary", "/Sup/Start");
    }

    private async Task PublishStop()
    {
        await JS.InvokeVoidAsync("publishMomentary", "/Sup/Stop");
    }
}
